<h1>Add a new place below</h1>
<form action = "/places_added" method = "post">
  <label for="new-city">Add City</label>
  <input id="new-city" name= "new-city" type = "text">
  <button type="submit">Submit</button>
</form>
