<h1>Add a new place below</h1>
<form action = "/view_all_places" method = "post">
  <label for="new-city">Add City</label>
  <input id="new-city" name= "new-city" type = "text">
  <label for="new-date">Add date you visited:</label>
  <input id="new-date" name= "new-date" type = "number">
  <button type="submit">Submit</button>
</form>
