<h1>All Places</h1>
<ul>
  @foreach (var place in Model)
  {
    <li><a href="/places/@place.GetId()">@place.GetCity()</a></li>
  }
</ul>
<p><a href="/places/new">Add another place</a></p>
<form action="/places_cleared" method="post">
  <button type="submit" name="button">Clear all Places</button>
</form>
